* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.pure-g [class *="pure-u"] {
  font-family: 'Open Sans', sans-serif;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.header {
  width: 100%;
}

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu .center .menu-section {
  display: inline-block;
  float: none;
  left: 0;
  padding: 5px 0;
  position: relative;
  top: 0;
  vertical-align: middle;
  visibility: visible;
  zoom: 1;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: #383378;
  display: block;
  font-size: 130%;
  font-family: 'Voyager Grotesque Regular', sans-serif;
  margin-top: 0;
  vertical-align: middle;
}

.home-menu .pure-menu-heading img {
  vertical-align: bottom;
}

.home-menu .pure-menu-heading span {
  margin-left: 5px;
}

.home-menu li a {
  color: #1f8dd6;
  padding: 0;
  margin: 0 10px;
  transition: border .5s;
}

.home-menu .pure-menu-selected a {
  border-bottom: 1px solid #4c4984;
  color: #4c4984;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border-bottom: 1px solid #1f8dd6;
}

.home-menu .classy-link,
.home-menu .classy-link:hover {
  background-color: #fdcf4c;
  border-radius: 3px;
  border-width: 0;
  color: #5e5a4a;
  margin: 0 5px;
  padding: 5px 10px;
  transform: skew(-25deg, 0deg);
}

.home-menu .classy-link:hover {
  background-color: rgba(253, 207, 76, 0.75);
  transition: background-color .5s;
}

.home-menu .classy-link span {
  display: block;
  transform: skew(25deg, 0deg);
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 90%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  color: white;
  font-family: 'Voyager Grotesque Light', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
}

.splash-head img {
  max-width: 100px;
}

.splash-head span {
  display: block;
  margin: 0 0 0 10px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: #fbe969;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.splash-explanation {
  color: #8ec6ea;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  text-transform: none;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  color: #9391b5;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  font-weight: 300;
  margin: 2em 0 1em;
  text-transform: uppercase;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #1c1a88;
  font-weight: 300;
  font-size: 130%;
}

.content-subhead i {
  margin-right: 7px;
}

.content {
  padding: 0.5em;
}

.bower-ad {
  background-color: #fbfbfb;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
  font-size: 120%;
  margin: -2em 2.5em 0;
  padding: 0.8em;
}

.feature-item .l-box {
  padding-bottom: 0;
  padding-top: 0;
}

.feature-image-col {
  display: none;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #111;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

  .bower-ad {
    margin: -2.5em 5.5em 0;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }

  .home-menu .center .menu-section {
    display: inline-block;
    float: right;
  }

  .home-menu .pure-menu-heading {
    display: inline-block;
    float: left;
  }

  .home-menu .classy-link,
  .home-menu .classy-link:hover {
    margin-left: 15px;
    padding: 5px 15px;
  }

  /* We increase the height of the splash-container */
  /* .splash-container {
      height: 500px;
     }
  */

  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head img {
    max-width: none;
  }

  .splash-head span {
    display: block;
    margin: 30px 0 0 10px;
  }

  .splash-head {
    font-size: 250%;
  }

  .feature-image-col {
    display: inline-block;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

  .feature-item .l-box {
    padding: 1em;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Voyager Grotesque Bold';
  src: url('../fonts/voyager_grotesquebold-webfont.eot');
  src: url('../fonts/voyager_grotesquebold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/voyager_grotesquebold-webfont.woff') format('woff'),
    url('../fonts/voyager_grotesquebold-webfont.ttf') format('truetype'),
    url('../fonts/voyager_grotesquebold-webfont.svg#voyager_grotesque_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Voyager Grotesque Light';
  src: url('../fonts/voyager_grotesquelight-webfont.eot');
  src: url('../fonts/voyager_grotesquelight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/voyager_grotesquelight-webfont.woff') format('woff'),
    url('../fonts/voyager_grotesquelight-webfont.ttf') format('truetype'),
    url('../fonts/voyager_grotesquelight-webfont.svg#voyager_grotesque_lightRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Voyager Grotesque Regular';
  src: url('../fonts/voyager_grotesqueregular-webfont.eot');
  src: url('../fonts/voyager_grotesqueregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/voyager_grotesqueregular-webfont.woff') format('woff'),
    url('../fonts/voyager_grotesqueregular-webfont.ttf') format('truetype'),
    url('../fonts/voyager_grotesqueregular-webfont.svg#voyager_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.feature-item img {
  display: block;
  margin: 0 auto;
}
