$accent: #FF4040;
$neutral: #5A5F63;

$baseSize: 32px;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

// Updates
@import "updates";

// Tutorial
@import "about";

// Highlight
@import "highlight";

// Features
@import "features";

// Header
@import "header";

h4 {
	font-size: $baseSize * 1.5;
	font-weight: 800;
	margin: $baseSize 0;
	text-transform: uppercase;
}

.initializing {
	padding-bottom: 80px;
}

.blockquote-danger {
	border-color: $accent;
}