{namespace mainGuide}

/**
 * @param content
 * @param? elementClasses
 */
{template .render}
	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			<div class="docs">
				{$content}
			</div>
		</main>
	</div>
{/template}