{namespace main}

/**
 * @param content
 * @param? elementClasses
 */
{template .render}
	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			{call topbar.render data="all"}
				{param elementClasses: 'topbar-fixed' /}
			{/call}
			{$content}
		</main>
	</div>
{/template}