{namespace dynamic}

/**
 * @param content
 */
{template .demoPage}
<!doctype>
<html>
<head>
  <title>Dynamic Soy template - This template is rendered by ther server</title>
</head>
<body>
  {$content|noAutoescape}
</body>
</html>
{/template}
