.doc-header {
  width: 100%;
  background: #31AF85;
}

.doc-header h1 {
  padding: 2.5em 1em 1.5em;
  color: #fff;
  font-weight: 300;
  position: relative;
  bottom: -23px;
}

.doc-content p a {
  color: #31AF85;
  text-decoration: none;
}

.doc-content p a:hover,
.doc-content p a:focus {
  border-bottom: 1px solid #31AF85;
}

.code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.title-header {
  margin: 0;
  padding: 2.5em 2em 0;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #eee;
}

.title-header h2 {
  font-weight: 300;
  margin-top: 0;
  padding: 0;
  color: #ccc;
}

pre,
code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  background: rgb(250, 250, 250);
}

pre {
  overflow-x: auto;
  padding: 1em;
  border: 1px solid #eee;
  border-right-width: 1px;
  border-left-width: 1px;
}

.doc-content {
  padding: 0 2em;
}

.doc-table {
  padding: 0 2em 0;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  .doc-content {
    padding: 0 0 0 2em;
  }

  .doc-header h1 {
    bottom: 0;
    padding: 2.5em 0 1.5em;
  }

  .doc-table {
    padding: 1em 0 0;
  }
}
