/* ==========================================================================
   Team section
   ========================================================================== */

.team-section {
  background: #31AF85;
}

.team-section .pure-g {
  margin: 0 0 3em;
}

.team-section .content-head {
  color: #fff;
}

.team-section p {
  color: #fff;
}

.team-section a {
  color: #fbe969;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.team-section-desc a:hover {
  border-bottom: 1px solid #fbe969;
}

.team-section .love {
  color: #fbe969;
  display: inline-block;
  font-size: 1.1em;
  position: relative;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  -o-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes love {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}

/* ==========================================================================
   Team member
   ========================================================================== */

.team-member .team-member-photo {
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.team-member a:hover .team-member-photo {
  border-color: #fbe969;
}

.team-member .team-member-title {
  text-align: center;
  display: block;
  color: #fff;
  font-family: 'Voyager Grotesque Light', sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding-top: .5em;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.team-member a:hover .team-member-title {
  color: #fbe969;
}

.liferay-logo {
  display: block;
}
